/* Autora: thalitaribeirooliveira@gmail.com */
/* Utilitário */
html, body {
    font-family: 'Roboto', sans-serif;
}

.bg-azul {
    background-color: #0eadc7;
}

.bg-azul-escuro {
    background-color: #1d527c;
}

.bg-cinza {
    background-color: #f9faff;
}

.bg-cinza-claro {
    background-color: #f7f5f7;
}

/* Header */
.header-absolute {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.navbar-light .navbar-nav .nav-link {
    font-size: .9rem;
    padding: 1.2rem 1rem;
}

.navbar {
    padding: 0 1rem;
    min-height: .9rem;
    width: auto;
    box-sizing: border-box;
}

.navbar-light .navbar-nav .nav-link, .titulo-principal, .titulo-secundario {
    color: #fff;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #fff;
    border-bottom: .2rem solid #fff;
}

/* Banner principal */
.banner-principal {
    background: #347080;
    height: 38rem;
    display: flex;
    align-items: center;
    background-image: url('./images/header_four.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo-principal {
    width: 40%;
    margin: 0 auto 2rem;
    font-size: 2.1rem;
}

.titulo-secundario {
    width: 45%;
    margin: 0 auto 2rem;
}

/* Botões */
.btn-post, .btn-branco, .btn-azul, .btn-azul-escuro, .btn-branco-azul {
    padding: .575rem 1.75rem;
    font-weight: 500;
    border-radius: 1.25rem;
}

.btn-branco {
    text-transform: uppercase;
    background-color: #fff;
    border: 0;
    color: #0eadc7;
}

.btn-branco-simples {
    text-transform: uppercase;
    background-color: #fff;
    border: 0;
    color: #0eadc7;
    padding: .575rem 1rem;
    font-weight: 500;
}

.btn-branco-azul-simples {
    text-transform: uppercase;
    background-color: #fff;
    border: 0;
    color: #1d527c;
    padding: .575rem 1rem;
    font-weight: 500;
}

.btn-branco-azul {
    text-transform: uppercase;
    background-color: #fff;
    border: 0;
    color: #1d527c;
}

.btn-branco:hover, .btn-branco:active, .btn-branco:focus, .btn-post:hover, .btn-post:active, .btn-post:focus, .btn-branco-simples:hover, .btn-branco-simples:active, .btn-branco-simples:focus {
    background-color: #fcfcfc;
    color: #347080;
}

.btn-branco-azul:hover, .btn-branco-azul:active, .btn-branco-azul:focus, .btn-branco-azul-simples:active, .btn-branco-azul-simples:focus, .btn-branco-azul-simples:hover {
    background-color: #fcfcfc;
    color: #293f66;
}

.btn-post:hover, .btn-post:active, .btn-post:focus {
    border: 1px solid #347080;
}

.btn-azul {
    text-transform: uppercase;
    background-color: #0eadc7;
    border: 0;
    color: #fff;
}

.btn-azul:hover, .btn-azul:active, .btn-azul:focus {
    background-color: #0e99b3;
    color: #fff;
}

.btn-azul-escuro {
    text-transform: uppercase;
    background-color: #29537A;
    border: 0;
    color: #fff;
}

.btn-azul-escuro:hover, .btn-azul-escuro:active, .btn-azul-escuro:focus {
    background-color: #293f66;
    color: #fff;
}

.btn-post {
    background-color: #fff;
    border: 1px solid #0eadc7;
    color: #0eadc7;
}

/* Produtos */
.produtos, .beneficios {
    padding: 6rem 0;
}

.produtos .linha, .beneficios .linha {
    justify-content: space-between;
    margin: 0 auto;
}

.produtos .card {
    width: 45%;
}

.produtos .card-body, .beneficios .card-body {
    padding: 3rem 1.5rem;
}

/* Card */
.card {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    transition: .3s;
    border: 0;
}

.card:hover {
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
    color: #4c4c4c;
}

.card-body img {
    margin: 1rem auto;
}

.card-img-logo {
    display: block;
    margin: 0 auto 1.5rem !important;
}

/* Seção clientes */
.secao-clientes {
    color: #fff;
    height: 20rem;
    padding: 3rem 0;
}

.secao-clientes p {
    margin: auto;
    text-transform: uppercase;
}

.secao-clientes h3 {
    margin-bottom: 2rem;
}

.secao-clientes-nome {
    font-size: 1.1rem;
}

.card-cliente {
    width: 75%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 3rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.card-img {
    border-radius: .25rem;
    width: auto;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    transition: .3s;
}

.card-img:hover {
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.col-post {
    width: 33.333%;
    padding: 0;
    margin: 0 1rem;
    box-sizing: border-box;
}

.col-post .card {
    width: 18rem;
    margin: 0 auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.col-post .card-text {
    font-size: .8rem;
    color: #4c4c4c;
}

/* Benefícios */
.beneficios .card {
    width: 30%;
}

.beneficios .fa {
    font-size: 3rem;
    color: #1d527c;
}

.beneficios h6 {
    text-transform: uppercase;
    color: #1d527c;
    margin: 1rem auto;
}

.beneficios .card-body {
    font-size: .9rem;
}

/* Features */
.section-funcionalidades {
    display: flex;
    align-items: center;
    padding: 6rem 0;
    color: #4c4c4c;
}

.section-funcionalidades.bg-cinza .linha {
    flex-direction: row-reverse;
}

.section-funcionalidades .linha {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.section-funcionalidades .texto {
    width: 40%;
}

.section-funcionalidades-titulo {
    font-size: 1.4rem !important;
    line-height: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1.4rem;
    font-weight: 600;
}

.section-funcionalidades-text {
    font-size: .9rem;
}

.navy-line {
    width: 4rem;
    margin: 2rem auto 0 0;
    border-bottom: 3px solid #1d527c;
}

/* Post */
.banner-page {
    background-color: #347080;
    height: 22rem;
    display: flex;
    align-items: center;
    background-image: url('./images/header_one.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-page h1 {
    width: 60%;
    margin: 0 auto;
    font-size: 2.1rem;
    color: #fff;
}

.post-page {
    display: flex;
}

.post {
    padding: 6rem 3rem 6rem 0;
    color: #4c4c4c;
    width: 80%;
}

.post h2 {
    font-size: 1.8rem;
}

.post h3 {
    font-size: 1.5rem;
}

.sidebar {
    width: 20%;
    padding: 6rem 0;
}

.sidebar-widget {
    margin: 0 auto 2rem;
}

.sidebar-widget h5 {
    color: #616161;
}

.sidebar-widget h5::after {
    display: block;
    width: 100px;
    content: '';
    border: 1px solid #ccc;
    margin: .3rem 0;
}

.input-pesquisa {
    background-color: #eaeaea;
    border: 0;
    color: #616161;
}

.btn-pesquisa .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #fff;
}

/* Cinto*/
.cinto-demonstracao, .cinto-oportunidade {
    padding: 3rem 0;
}

.cinto-oportunidade .h5 {
    color: #fff;
    margin-bottom: 1.5rem;
}

/* Blog */
.blog {
    margin: 8rem auto 6rem;
}

.titulo-blog {
    margin-bottom: 3rem;
    margin-top: 2rem;
    color: #4c4c4c;
}

.alinhar-centralizado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alinhar-centralizado p {
    margin: 0;
    color: #fff;
}

/* Vantagens */
.vantagens {
    color: #4c4c4c;
    padding: 6rem 0;
}

.vantagens h3 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
}

.vantagens h6 {
    margin-bottom: 4rem;
}

.vantagens .btn {
    margin-top: 2rem;
}

.linha {
    margin: 2rem auto;
    display: flex;
}

.coluna {
    width: 33.333%;
    padding: 0 1rem;
}

.coluna img, .coluna h5 {
    margin-bottom: 1rem;
}

.coluna p {
    margin-bottom: 0;
}

/* Área */
.area {
    margin: 4rem auto 6rem;
    color: #4c4c4c;
}

.area h1 {
    font-size: 1.4rem;
    margin: 0;
    text-transform: uppercase;
    padding: 1.4rem 0;
    box-sizing: border-box;
}

/* Rodapé */
.btn-link {
    border: 1px solid #d8d8d8;
    padding: 2rem;
    border-radius: .25rem;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    color: #616161 !important;
    text-align: center;
}

.btn-link:hover, .btn-link:focus, .btn-link:active {
    color: #616161 !important;
    background-color: #f0eef0;
    border: 1px solid #d8d8d8;
}

.btn-link i {
    display: block;
}

.direitos-autorais {
    font-size: .75rem;
}

.botao-centro {
    margin: -1rem auto 0;
    width: 100%;
    text-align: center;
}

/* Área perguntas */
.area-perguntas {
    margin: 3rem auto;
    color: #4c4c4c;
}

.area-perguntas .nav-tabs .nav-link.active {
    color: #0eadc7;
}

.area-perguntas .nav-link {
    color: #4c4c4c;
}

.area-perguntas .card {
    box-shadow: none;
}

.area-perguntas .card:hover {
    box-shadow: none;
}

.area-perguntas .card-header {
    background-color: #fff;
    cursor: pointer;
}

.area-perguntas .collapsed .btn-pergunta {
    float: right;
    height: 15px;
    width: 15px;
    background-color: #d6d6d6;
    border: 0;
    border-radius: 10px;
}

.area-perguntas .btn-pergunta {
    float: right;
    height: 15px;
    width: 15px;
    background-color: #0dadc7;
    border: 0;
    border-radius: 10px;
}

.ef-seta:after {
    font-family: 'Glyphicons Halflings';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f107';
    transform: rotate(90deg);
    transition: all linear .25s;
    float: right;
    margin-top: .4rem;
}

.ef-seta.collapsed:after {
    transform: rotate(0deg);
}

/* Rodapé */
.rodape-info {
    padding: 3rem 0;
    box-sizing: border-box;
}

.rodape-copyright {
    padding: 1rem 0;
    box-sizing: border-box;
}

.lista-menu {
    margin-bottom: 0;
    padding: 0;
    color: #616161;
    box-sizing: border-box;
}

.lista-menu > li {
    list-style: none;
}

.lista-menu > li a {
    font-size: .9rem;
    color: #616161;
}

.footer-logo {
    margin: 3rem auto .5rem;
}

.titulo-menu {
    color: #616161;
}

.info-contato {
    color: #616161;
    font-size: .8rem;
    margin-bottom: .5rem;
}

.area-contato p {
    font-size: .8rem;
}

.titulo-form {
    font-size: 1.25rem;
}

.bg-mapa {
    background-image: url('./images/azInfoSatelite.PNG');
    height: 463px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Responsive */
@media (max-width: 1200px) {
    .produtos .linha {
        flex-direction: column;
    }

    .produtos .card {
        margin: 0 auto 4rem;
    }

    .produtos .card:last-child {
        margin-bottom: 0;
    }

    .blog .linha {
        flex-wrap: wrap;
    }

    .col-post {
        margin: 1rem;
    }
}

@media (max-width: 991px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 1rem;
    }

    .titulo-principal, .titulo-secundario, .coluna, .produtos .card, .secao-clientes .col, .section-funcionalidades .texto {
        width: 100%;
    }

    .produtos, .beneficios, .coluna, .section-funcionalidades {
        padding: 3rem 0;
    }

    .card-cliente {
        width: 95%;
        padding: 2rem;
        flex-wrap: wrap;
    }

    .titulo-blog {
        margin-bottom: 3rem;
    }

    .blog {
        margin: 18rem auto 3rem;
    }

    .linha, .cinto-demonstracao .alinhar-centralizado, .section-funcionalidades.bg-cinza .linha {
        flex-direction: column;
    }

    .secao-clientes .linha, .rodape-info .linha {
        display: block;
    }

    .secao-clientes {
        height: 39rem;
    }

    .secao-clientes .col, .rodape-info .col, .section-funcionalidades .texto {
        margin: 2rem auto;
    }

    .botao-centro {
        margin: 2rem auto 0;
    }

    .col-post, .beneficios .card {
        width: 50%;
        margin: 1rem auto;
    }

    .blog .linha, .section-funcionalidades .linha {
        margin: 0 auto;
    }

    .cinto-demonstracao .alinhar-centralizado .h5 {
        margin-bottom: 1.5rem;
    }

    .card-cliente a {
        margin: 1rem;
    }

    .area {
        margin: 3rem auto;
    }
}

@media (max-width: 767px) {
    .card-img {
        margin-left: -1rem;
    }
}

@media (max-width: 750px) {
    .beneficios .card {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .beneficios .card {
        width: 100%;
    }

    .blog {
        margin: 24rem auto 3rem;
    }
}